@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Comentários no CSS é com esse "/*" */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Lista desordenada*/
ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1d61dd;
    color: white;
}

header {
    background:no-repeat center/cover url("assets/Tailandinha.jfif") ;
    height: calc(125vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 450px;
    margin: 450px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 3px;
    font-size: 3rem;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    font-size: 3rem;
}
/*adicionamos o fundo colorido*/
.pacotes {
    background: #f8d798;
    padding: 15px;
}

.pacotes .pacotes-card {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;

}
.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card-content {
    padding: 0 15px;

}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #f19b39;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1d61dd;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0,.8rem;
    color: white;
    font-weight: bold;
}

.servicos .servicos-title {
    margin: 35px 0;
    text-align: center;
}
.servicos {
    padding: 15px;
}

.servicos .servicos-card {
    display: flex;
    margin-top: 25px;
    max-width: 950px;
    justify-content: center;
    margin: auto;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    /*Espaçamento entre os icons e o texto*/

}

.servicos .card svg:hover {
    stroke: #1d61dd;
    transform: scale(1.1);
    /*Incluida a cor quando passa o mouse por cima do icon*/
}

.servicos .card h3 {
    font-weight: bold;
    /*Colocado em negrito os títulos dos cards de servicos*/
}

.servicos .card p {
    color: grey;
    font-size: 0.8rem;
    text-align: center;
    /*Alinhado ao centro as informações dos cards de servicos*/
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
    /*aumentado a distancia do botão saiba mais */
}

.contatos {
    padding: 20px;
    height: 250px;
    background: grey;
    text-align: center;
}

.contatos .email svg {
    margin: left;
    color: white;
}

.contatos .instagram svg {
    color:red
}
